html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 30px;
}

.jumbotron img {
    width: 200px;
    border: 5px solid rgb(46, 161, 0)
}

hr {
    width: 250px;
    border-top: 4px solid rgb(0, 49, 49);
}
section {
    min-height: 600px;
}

.portfolio {
    background-color: #eee;
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    width: 100%;
    height: 3%;
    bottom: 0px;
    background-color: rgb(160, 160, 160);
    padding-top: 20px;
}

.footer p {
    color: #333;
    font-size: 1em;
}